<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">Licenses Details</h4>
        	</div>
        	<div class="panel-body">
            	<address>
			    	<strong>Number Of Liscenses :</strong>
			    	<%= @license.no_of_licenses %>
            	</address>
            	<!-- <address>
			    	<strong>Licenses Used:</strong>
			    	<%#= @license.expiry_date %>
            	</address> -->
            	<address>
                	<strong>License Expiration Date:</strong>
                	<%= @license.expiry_date %>
            	</address>
		    </div>
        </div>
    </div>
</div>