<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">User Information</h4>
        	</div>
        	<div class="panel-body">
            	<address>
                	<strong>License Expiry date:</strong>
                	<%= @license.expiry_date %>
            	</address>
            	<address>
			    	<strong>Number Of Licenses:</strong>
			    	<%= @license.no_of_licenses %>
            	</address>
            	<div data-no-turbolink>
			        <%= link_to 'Edit', edit_license_path(@license), :class=>"btn btn-success btn-xs", data: { disable_with: 'Saving...' } %>
					<%= link_to 'Cancel', schools_path, class: "btn btn-white btn-xs"%>
        	    </div>
		    </div>
        </div>
    </div>
</div>


