*.rbc
*.sassc
*.orig
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/tmp_files/*
/public/images/*
/public/books/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/initializers/secret_token.rb
/config/database.yml
.DS_Store
Capfile

