<div class="panel panel-default">
	<div class="panel-body"> 
		<!-- <h2>Import Schools</h2>   -->
		<%= form_tag import_classrooms_path, multipart: true do %>  
			<%= hidden_field_tag :school_id, @school_id %>
	  		<%= file_field_tag :file %>  
	  		<%= submit_tag "Import", :onclick => "return validateform();", :class=>"margin-t-10 margin-t-10 btn btn-success btn-xs" %>  
		<% end %>
	</div>
</div>	

<script type="text/javascript">
    showHideMenu('li_school');	

	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
</script>	