<h4>Welcome to Books That Grow</h4>

<h5>Username: <%= @username %></h5>

<p>To reset password click on following
link: <a href = '<%= @link %>'>reset password</a> </p>

<p>To login to the site, just follow this link: <%= @url %><p> 

<p>Thanks, Books That Grow Team!</p>