Welcome to Books That Grow

Username: <%= @username %> 

To reset password click on following link: 
link: <a href = '<%= @link %>'>reset password</a> 

To login to the site, just follow this link: <%= @url %> 

Thanks, Books That Grow Team!