/*common classes */
.margin-t-10{margin-top:10px;}

#error_explanation {
  color: #B94A48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.lbjs {
  float: left;
}
/*.lbjs:last-of-type {
  margin-left: 20px;
}*/
.dynamic{width:85%;}

.listbox-alig{float:left;width:170px;}

.pageheader .btg { font-size: 24px; margin-right: 5px;padding: 6px 7px; border: 2px solid #1D2939; -moz-border-radius: 50px;-webkit-border-radius: 50px; border-radius: 50px; }
.pageheader .btg-lisence:before{vertical-align: top;}
.pageheader .btg-admin:before{vertical-align: top;}
.pageheader .btg-teacher:before{vertical-align: top;}
.pageheader .btg-student:before{vertical-align: top;}

.fa-lock.increase_size{font-size:20px;}
.logo_image{width:80px; height:80px;}

.student-img {border-radius:128px; height:128px; width:128px; position:relative; overflow:hidden; box-shadow:inset 0 0 1px #a1a1a1;}

.assign_arrows{float:left; vertical-align:middle; height:300px; padding:110px 30px;}
.assign_arrows .btn{padding:3px 20px; background:#e0e0e0; margin-bottom:10px;}

.alert_license_success{ background-color: #dff0d8;border-color: #d6e9c6;color: #3c763d;padding: 10px !important;}

textarea {resize:vertical;}
input[type=checkbox] {cursor:pointer;}

.logopanel h1 {font-size: 28px !important;}
.error_box{ font-weight: normal; line-height: 20px; color: #B94A48; display: block; }
.error_message{ color: #B94A48;margin-top: 2px;}
.error{margin-left: 0px;color: #B94A48;margin-top: 2px;font-weight: 400;}

.form_validation label.error, .form_validation input.submit { margin-left: 0px; color: #B94A48; margin-top: 2px; font-weight: 400;}

form .form-group {margin-bottom: 15px !important;}

.index_page_btns{ margin-bottom: 20px !important; float:right;}

.alert { padding: 10px !important;}
.alert-form-error{padding: 0px !important;}

.alert-notice {background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;}

.forgot_password_link{ font-size: 11px; color: #666; cursor: pointer;}

.alert-alert{background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
small br {display:none;}

span.page{padding: 10px !important;}
#example_info{padding-right: 10px !important;}
.delete-school-list{height:27px !important;}
.delete-user-list{height:27px !important;}
.delete-book-list{height:27px !important;}
.save-btns{height:27px !important;}

label.label-rights { display: inline-block; overflow: hidden; width: 190px;margin-bottom: 10px; }
label.label-rights input[type=checkbox] {display:inline-block; float:left; margin:4px 5px 0 0;}
label.error {display:block;}


/* form validation design issues */
.field_with_errors{clear:both;}
.form-group .field_with_errors:first-child {float:left; clear:none;}
.form-lable-multiselect{display:block;}
.table-responsive{margin-top:-27px;}


/* School table data-grid design chagnes */
.school-table tr th:nth-child(1){width:8%;}
.school-table tr th:nth-child(2){width:11%;}
.school-table tr th:nth-child(3){width:23%;}
.school-table tr th:nth-child(4){width:10%;}
.school-table tr th:nth-child(5){width:9%;}
.school-table tr th:nth-child(6){width:9%;}
.school-table tr th:nth-child(7){width:10%;}
.school-table tr th:nth-child(8){width:20%;}

/* Fieldset */
.fieldset-parents{height:110px;}
.add-parent{ margin-bottom:20px; display:block;}
.add-student-label{padding-right:10px; width:140px;}

/* Student profile pic */
.student-profil-pic{width:100px; border-radius:100px; margin-bottom:10px;}

.no-access{width:100%; min-height:850px; background:#fff;}
.no-access img {padding-top:100px;}	

.date-picker-margin {margin: 0;}
.input-group .hasDatepicker + label.error{position:absolute;top:42px;}

.image-file-name {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:300px;}	

#school_state_wrapper select, .country-state-select{height:21px; padding:1px 0;}

.no-rec-found{text-align:center;}
.lic-listing-width{width:100px !important;}

/* Quick edit css */
.invisible{display:none;}
.quick-edit:hover{border: solid 2px #ccc;padding: 5px;margin: -5px;cursor:pointer;}
.quick-edit{padding:2px;}
.dropdown-quick-edit:hover{border: solid 2px #ccc;padding: 5px;margin: -5px;cursor:pointer;}
.dropdown-quick-edit{padding:2px;}
.quick-edit-error-msg{text-align: center;margin: 37px auto 0;position: absolute !important;left: 0;right: 0;z-index: 10;}
.diasble-arrors{color:black;background:#e0e0e0 !important;cursor:default !important;}
.enable-arrors{color:#428bca;background:rgba(112, 147, 216, 0.5) !important;cursor:pointer !important;}

/* All user search css */
.all-user-search {margin-bottom: 40px !important;}
.all-search-width {width:350px !important; margin-bottom: 20px;}

.undo-alert{padding:8px;margin-bottom:20px;}
.all-user-search-btn-margin{margin-top:30px;}
.search-icon-align{vertical-align: top !important; padding: 7px 10px !important;}
.search-box{width: 150px;height: 30px;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;color: #555;background-color: #fff;border: 1px solid #ccc;border-radius: 4px;}

/* Top school name header css*/
.top-school-heading{color:#1D2939;text-align:center;font-size:20px !important;display: block;}
.align-school-header{padding:20px 20px 9px !important;}
hr.school-heading-hr{margin-top: 21px;}
.mandatory-align{margin-top:-10px !important;color:#77818e;}
.tab-links{float:right; display:block}

.user-info-page-lic{margin-top: -24px;margin-left: 400px;}
.total{background:#d3d7db}

/* Making sign in btn clickable */
.signin-btn-highlight{}