@charset"utf-8";
 html body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
* {margin:0; padding:0; outline:none}
/* CSS Document */

/* COMMON CLASSES */
 body {
    -ms-touch-action: none;
}
a:hover {
    text-decoration:none
}
a:focus {
    outline:none;
    text-decoration:none
}
.container {
    width:100%;
    padding:0
}
.app-button {
    display:inline-block;
    background:url('button-patter2.png') 0 0 repeat;
    border:solid 2px #cfcfcf;
    border-radius:5px;
    padding:4px 15px;
    text-transform:uppercase;
    color:#444;
    float:right;
    height:35px;
}
/*.btn-default:active, .btn:active, .btn-default:focus, .btn:focus, .btn-default:visited, .btn:visited{background:none !important}*/

/* HEADING CLASSES */
 .innerpage-heading {
    font-size:20px;
    color:#444;
    font-weight:bold;
    margin:0;
}
/* NAVIGATION CLASSES */
 .navbar {
    min-height:70px;
    font-size:24px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    padding:0 30px;
}
.navbar-inverse {
    background:#5a76d5;
    border:none
}
/* PAGE TITLE */
 .page-title {
    padding:18px 0;
    text-align:center;
}
/* PAGE CONTENT */
 .page-content {
    padding: 110px 30px 0 30px;
}
/* BOOK CONTENT */
 .book-content {
    padding: 70px 0 0 0;
}
.classroom-content {
    padding: 90px 30px 0 30px;
}
/* LOGIN FORM */
 .login-form {
    margin:0 auto;
    float:none;
}
.login div {
    /*margin-bottom:40px;*/
	height:100px;
    text-align:center;
}
.radio-group {
    width: 28%;
    margin:0 auto -40px auto;
    overflow: hidden;
}
.radio-group div {
    display: block;
    float: left;
    width: 40%
}
.radio-group input {
    margin-right: 5px;
    vertical-align: text-bottom;
}
.login label{display:block; width:60%; margin:auto; text-align:left;}
.error{ color: #B94A48;}
.login input[type=text], .login input[type=password], .login select {
    background:#eaedf0;
    border:solid 1px #dddfe2;
    border-radius:5px;
    box-shadow:#fafdff 0 2px 5px inset;
    padding:8px 10px;
    width:60%;
    font-size:18px;
    color:#444;
}
.login select {
    color:#909293;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #909293;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #444;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #444;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #444;
}
.login select option:active {
    color:#444;
}
.login input[type=submit] {
    background:url('button-pattern.png') 0 0 repeat;
    border:solid 1px #4f62ad;
    border-radius:5px;
    width:55%;
    font-size:20px;
    padding:7px 10px;
    color:#fff;
    font-weight:bold;
    text-align:center;
}
.login input[type=text]:focus, .login input[type=password]:focus {
    background:#e0ebff;
    border:solid 1px #c2d0eb;
    border-radius:5px;
    box-shadow:#ebf2ff 0 2px 5px inset;
}
.login .forgot-pw {
    text-align:center;
    font-size:18px;
    color:#444;
    font-weight:bold;
}
.login .reset-pw {
    text-align:center;
    font-size:16px;
    color:#444;
}
.login .forgot-pw a {
    color:#444;
}
.login input[type=submit].reset-password {
    width:55%;
    position:relative;
    display:block;
    margin:0 auto;
}
/* FORGOT PASSWORD */
 .forgot-pw-form {
    margin:80px auto 0;
    float:none;
}
/* Responsive Classes */
 @media only screen and (max-device-width: 1280px) and (min-height: 800px) {
    .guestname {
        width: 550px;
    }
    .login input[type="text"], .login input[type="password"], .login select {
        width:90%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:85%;
        padding:12px 10px
    }
}
@media (max-width:1024px) {
    .guestname {
        width: 450px;
    }
}
@media only screen and (max-device-width: 800px) {
    .guestname {
        width: 340px;
    }
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* NAVIGATION */
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
    .guestname {
        width: 420px;
    }
    
}
@media (max-width : 768px) {
    .guestname {
        width: 320px;
    }
}
.help-block-forget {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    text-align: center;
}


/*
* Custom css added by developers
*/
#triggerRemoveHighlightConfirm {display: none;}
.radio-group-left{float: left;}
.radio-group-right{float: right;}