@charset"utf-8";
 html body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
* {margin:0; padding:0; outline:none}
/* CSS Document */

/* COMMON CLASSES */
 body {
    -ms-touch-action: none;
}
a:hover {
    text-decoration:none
}
a:focus {
    outline:none;
    text-decoration:none
}
.container {
    width:100%;
    padding:0
}
.app-button {
    display:inline-block;
    background:url('button-patter2.png') 0 0 repeat;
    border:solid 2px #cfcfcf;
    border-radius:5px;
    padding:4px 15px;
    text-transform:uppercase;
    color:#444;
    float:right;
    height:35px;
}
/*.btn-default:active, .btn:active, .btn-default:focus, .btn:focus, .btn-default:visited, .btn:visited{background:none !important}*/

/* HEADING CLASSES */
 .innerpage-heading {
    font-size:20px;
    color:#444;
    font-weight:bold;
    margin:0
}
/* NAVIGATION CLASSES */
 .navbar {
    min-height:70px;
    font-size:24px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    padding:0 30px
}
.navbar-inverse {
    background:#5a76d5;
    border:none
}
/* PAGE TITLE */
 .page-title {
    padding:18px 0;
    text-align:center
}
/* PAGE CONTENT */
 .page-content {
    padding: 110px 30px 0 30px
}
/* BOOK CONTENT */
 .book-content {
    padding: 70px 0 0 0
}
.classroom-content {
    padding: 90px 30px 0 30px
}
/* LOGIN FORM */
 .login-form {
    margin:0 auto;
    float:none
}
.login div {
    /*margin-bottom:40px;*/
	height:100px;
    text-align:center;
}
.radio-group {
    width: 28%;
    margin:0 auto -40px auto;
    overflow: hidden;
}
.radio-group div {
    display: block;
    ;
    float: left;
    ;
    width: 40%
}
.radio-group input {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.login input[type=text], .login input[type=password], .login select {
    background:#eaedf0;
    border:solid 1px #dddfe2;
    border-radius:5px;
    box-shadow:#fafdff 0 2px 5px inset;
    padding:8px 10px;
    width:60%;
    font-size:18px;
    color:#444;
}

.login select {
    color:#909293;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #909293;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #444;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #444;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #444;
}
.login select option:active {
    color:#444
}
.login label{display:block; width:58%; margin:auto; text-align:left;}
.login input[type=submit] {
    background:url('button-pattern.png') 0 0 repeat;
    border:solid 1px #4f62ad;
    border-radius:5px;
    width:55%;
    font-size:20px;
    padding:7px 10px;
    color:#fff;
    font-weight:bold;
    text-align:center
}
.login input[type=text]:focus, .login input[type=password]:focus {
    background:#e0ebff;
    border:solid 1px #c2d0eb;
    border-radius:5px;
    box-shadow:#ebf2ff 0 2px 5px inset;
}
.login .forgot-pw {
    text-align:center;
    font-size:18px;
    color:#444;
    font-weight:bold
}
.login .reset-pw {
    text-align:center;
    font-size:16px;
    color:#444
}
.login .forgot-pw a {
    color:#444;
}
.login input[type=submit].reset-password {
    width:55%;
    position:relative;
    display:block;
    margin:0 auto
}
/* FORGOT PASSWORD */
 .forgot-pw-form {
    margin:80px auto 0;
    float:none
}
/* SIDEBAR NAVIGATION */
 .nav-toggle {
    position:fixed;
    right:0;
    top:0;
    width:70px;
    height:70px;
    background:#444;
    z-index:1031
}
.nav-toggle ul {
    margin:0;
    padding:0;
    list-style:none;
}
.nav-toggle li {
    background-color:#5a76d5
}
.nav-toggle li a {
    display:block;
    height:70px;
    width:280px;
    background-image:url('navigation-icon-sprite.png');
    background-repeat:no-repeat;
    padding-left:80px;
    line-height:70px;
    font-size:16px;
    color:#fff;
    font-weight:bold
}
.nav-toggle .navigation {
    background-position:20px 18px;
}
.nav-toggle .navigation:active {
    opacity:0.5
}
.nav-toggle li a.active {
    background-color:#222
}
.sidebar-nav {
    position:fixed;
    right:-80px;
    top:70px;
    width:70px;
    height:100%;
    min-height:100%;
    background:#2e394e;
    z-index:4031;
    box-shadow:#42464f -5px 0 10px;
}
.sidebar-nav ul {
    margin:0;
    padding:0;
    list-style:none
}
.sidebar-nav li a {
    display:block;
    height:70px;
    width:280px;
    background-image:url('navigation-icon-sprite.png');
    background-repeat:no-repeat;
    padding-left:80px;
    line-height:70px;
    font-size:16px;
    color:#fff;
    font-weight:bold
}
.navigation {
    background-position:21px 27px;
    background-color:#5a76d5
}
.sidebar-nav li a:active
/*, .sidebar-nav li a.active*/
 {
    /*background-image:url(../images/navigation-icon-sprite.png);*/
    opacity:0.5;
}
.library {
    background-position:20px -44px
}
.classroom {
    background-position:20px -111px
}
.bookstore {
    background-position:20px -182px
}
.settings {
    background-position:20px -252px
}
.logout {
    background-position:20px -324px
}
.book-name {
    background-position:-100px -324px;
    padding-left:0 !important;
    text-transform:none;
}
/* PAGE HEADING */
 .page-heading {
    padding-left:57px;
    line-height:65px;
    float:left;
    background-image:url('header-icon-sprite.png');
    background-repeat:no-repeat;
    width:50%;
    height:50px;
    overflow:hidden
}
.ng-scope + .page-heading {
    margin-right:-50px
}
.page-heading.library {
    background-position: 0 -68px;
}
.page-heading.classroom {
    background-position: 0 -123px;
}
.page-heading.bookstore {
    background-position: 0 -180px;
}
.page-heading.settings {
    background-position: 0 -234px;
}
.guestname {
    border-left: solid 4px #fff;
    padding:13px 0 13px 82px;
    margin:5px 0 5px 50%;
    background:url('header-icon-sprite.png') 25px -7px no-repeat;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    ;
    width:570px
}
/* LIBRARY SCREEN LISTING */
 .library-books ul {
    list-style:none;
    margin:0;
    padding:5px 0 0;
    margin-left:-14px;
}
.library-books li {
    display:inline-block;
    width:162px;
    margin:0 0 40px 45px;
    text-align:center
}
.library-books li img {
    width:125px;
    height:auto;
}
.library-books li div {
    width:145px;
    height:190px;
    background-size: cover;
    background-position: right center;
    margin:auto;
    cursor: pointer;
}
.library-books .book-title {
    font-size:14px;
    color:#444;
    text-transform:uppercase;
    margin:10px 0
}
.library-books .author {
    font-size:12px;
    color:#444;
    text-transform:uppercase;
    margin:10px 0;
    font-style:italic
}
.library-books .assign {
    display:inline-block;
    border:solid 1px #94d2eb;
    border-radius:5px;
    width:75%;
    padding:2px 0;
    color:#444;
    margin:10px 0
}
.settings-books .selected div {
    box-shadow:#333 0 0 10px;
    /*border: solid 1px #666*/
}
/* CLASSROOM SCREEN LISTING */
 .classroom-list {
    margin-top:30px
}
.classroom-list ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-left:-18px;
}
.classroom-list li {
    display:inline-block;
    width:170px;
    height:220px;
    margin:0 0 10px 45px;
    text-align:center;
    overflow:hidden
}
.classroom-list .classroom-block {
    width:150px;
    height:170px;
    border-radius:5px;
    box-shadow:#d1d1d1 0 0 5px;
    display:block;
    margin:5px auto;
	    background:url(class-thumb-bg.png) center center no-repeat;
}
.classroom-list .classroom-block.selected {
    box-shadow:#333 0 0 10px;
    /*border: solid 1px #666*/
}
.classroom-list .class-name {
    display:block;
    text-align:center;
    color:#535a66;
    font-weight:bold;
    font-size:20px;
    padding-top:10px;
    min-height:80px;
    line-height:20px;
}
.classroom-list .book-count {
    color:#f00;
    font-size:24px;
    font-weight:normal;
    margin-top:45px;
    display:block
}
/* BACK BUTTON */
 .back-btn {
    width:50px;
    height:35px;
    background:url('header-icon-sprite.png') 0 -368px no-repeat;
    display:block;
    float:left;
    margin:18px 30px 0 0
}
.index-btn {
    width:50px;
    height:35px;
    background:url('header-icon-sprite.png') 0 -418px no-repeat;
    display:block;
    float:left;
    margin:18px 0 0 0
}
/* BOOTSTRAP COROUSEL CLASSES OVER WRITTEN */
 .carousel-control {
    height:40px;
    margin:auto
}
.carousel-control.left, .carousel-control.right {
    background:none
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left:-95px
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right:-90px
}
/* CLASSROOM DETAILS COROUSEL */
 .col-left {
    width:25%;
    float:left;
    margin-left:50px;
    overflow:hidden;
    text-align:left
}
.current-reading h2 {
    display:block;
    font-size:20px;
    font-weight:bold;
    color:#444;
    margin:0 0 30px 0
}
.current-reading img {
    display:block;
    margin-bottom:10px
}
.current-reading span {
    display:block;
    font-size:14px;
    color:#444;
}
.student-'progress' {
    width:70%;
    float:right
}
.add-book, .go-to-library {
    display:inline-block;
    background:url('button-patter2.png') 0 0 repeat;
    border:solid 2px #cfcfcf;
    border-radius:5px;
    padding:5px 15px;
    font-weight:bold;
    color:#444;
    float:right;
}
.progress-chart {
    float:left;
    min-height:180px
}
.progress-chart .col {
    width:120px;
    float:left;
    text-align:center;
    font-size:13px;
    color:#444;
    position:relative;
}
.progress-wrapper {
    position:relative;
    margin:auto;
    height:180px;
    border-bottom:solid 2px #444;
    text-align:center
}
.progress-wrapper .progress-piller {
    position:absolute;
    width:50px;
    bottom:0;
    display:inline;
    margin-left:-25px
}
.progress-wrapper .progress-piller .student-count {
    display:block;
    margin-top:-20px;
    width:100px;
    margin-left:-25px
}
.not-started .progress-piller {
    background:#d5580d;
    height:40px
}
.started .progress-piller {
    background:#5d8b0e;
    height:120px
}
.completed .progress-piller {
    background:#06529c;
    height:90px
}
/* DIVIDER */
 .section-divider {
    background:url('divider-line.jpg') 0 0 repeat-x;
    height:57px;
    margin:30px 0 0
}
.section-divider span {
    display:block;
    width:118px;
    height:57px;
    background:url(divider-center.jpg) 0 0 no-repeat;
    margin:auto
}
/* STUDENT LIST */
 .students-list .student-count {
    margin:0 0 30px 40px;
    font-weight:bold;
    font-size:20px;
    color:#444
}
.students-list ul {
    padding:0;
    overflow:hidden
}
.students-list li {
    display:block;
    float:left;
    width:290px;
    margin:0 90px 50px 0
}
.students-list .student-pic {
    width:120px;
    margin-right:10px;
    float:left;
    height:145px;
}
.students-list .student-name {
    font-size:16px;
    color:#444;
    font-weight:bold;
    width:120px;
    float:left;
    margin-bottom:15px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.students-list .student-progress {
    border:solid 1px #cfcfcf;
    border-radius:5px;
    width:120px;
    float:left;
    margin-bottom:15px;
    height:25px;
    overflow:hidden
}
.students-list .student-progress ..progress-bar {
    line-height:25px
}
.students-list .student-progress span {
    display:block;
    background:#ebe5d6;
    width:20%;
    height:25px
}
.students-list .reading-level {
    font-size:15px;
    color:#999;
    font-weight:normal;
    width:120px;
    float:left;
    margin-bottom:15px
}
.students-list .level-controls {
    width:120px;
    float:left;
    margin-bottom:15px
}
.students-list .level-controls select {
    padding:5px;
    border-radius:5px;
    border:solid 1px #999;
    width:130px
}
.students-list .switch {
    width:140px;
    float:left
}
/* TABS */
 .tabs {
    margin:30px 0;
    background:#e9e6dd;
    border-radius:5px;
    border:solid 1px #e9e6dd
}
.nav-tabs>li>a {
    font-weight:bold;
    color:#444;
    text-transform:uppercase
}
.tab-content {
    padding:20px;
    background:#fff
}
.tab-header {
    overflow:hidden;
    clear:both;
    padding:0;
}
.tab-header .instruction {
    float:left;
    font-weight:bold
}
.tab-header .action {
    float:right;
    mar-bottom:-20px;
}
.tab-header .action-by-student {
    width:350px;
    float:left
}
.tab-header .action a {
    float:right;
    margin-left:10px;
    cursor: pointer
}
.tab-header .action button {
    float:right;
    margin-left:10px;
    cursor: pointer;
    padding:3px 15px 6px
}
.tab-header .flat {
    float:left;
    margin-right:20px;
    display:block;
    font-weight:normal;
    line-height:26px;
}
.tab-header .level-controls {
    float:left;
    width:160px
}
.tab-header .switch {
    float:left;
}
.tab-content .setting-instruction {
    padding:15px 0;
}
.action-by-student .switch {
    float:left
}
.action-by-type {
    position: relative;
    margin: 0;
    height: 26px;
    width: 260px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.action-by-type a {
    display:block;
    float:left;
    width:125px;
    text-align:center;
    line-height:22px;
    font-weight:bold;
    color:#fff;
    border-radius:3px;
    height:22px
}
.action-by-type .automatic {
    margin:2px 3px 2px 2px;
}
.action-by-type .manual {
    margin:2px 2px 2px 3px;
}
.action-by-type a.active {
    background:#5a76d5;
}
.tab-content .classroom-list li {
    width:145px
}
.tab-content .classroom-list .classroom-block {
    width:135px
}
.tab-content .library-books li {
    width:145px
}
.tab-content .library-books {
    margin-top:30px
}
.tab-content .library-books li div {
    width:140px;
    height:175px
}
.switch-status {
    position: relative;
    margin: 0 auto;
    height: 26px;
    width: 120px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-status a {
    display:block;
    float:left;
    width:55px;
    text-align:center;
    line-height:22px;
    font-weight:bold;
    color:#fff;
    border-radius:3px;
    font-size:12px;
    transition:0.5s ease-in-out;
}
.switch-status .yes {
    margin:2px 3px 2px 2px;
}
.switch-status .no {
    margin:2px 2px 2px 3px;
}
.switch-status a.active {
    background:#5a76d5;
    left:0
}
&.active {
    left: 10px;
}
&:hover {
    left: 200px;
}
.tab-header select {
    padding:3px 5px;
    border-radius:5px;
    border:solid 1px #999;
    width:130px
}
.app-button.next {
    background:url(nxt-btn.png) 0 0 no-repeat;
    border:none;
    width:106px;
    height:35px;
    line-height:27px;
    text-align:center;
    cursor: pointer;
}
.app-button.prev {
    background:url(back-btn.png) 0 0 no-repeat;
    border:none;
    width:106px;
    height:35px;
    line-height:27px;
    text-align:right;
    font-weight: normal;
}
/* SETTINGS INNER SCREEN */
 .settings-leftcol {
    width:20%;
    float:left;
    margin-top:30px
}
.settings-btn {
    background:url(settings-btn.png) 0 0 no-repeat;
    border:none;
    width:186px;
    height:35px;
    line-height:27px;
    text-align:center;
    display:block;
    margin:20px 0;
    float:left;
    cursor:pointer;
    clear:both
}
.settings-btn.active {
    background:url(settings-btn-active.png) 0 0 no-repeat;
}
.settings-rightcol {
    width:75%;
    float:right;
    border-left:solid 2px #e9e6dd;
    padding:0 0 0 50px;
    margin-top:30px;
}
.note {
    visibility: none;
    overflow:hidden;
    margin:0 0 20px 0
}
.note span {
    display:block;
    float:left;
    width:40%;
    margin-right:10%
}
.settings-controls {
    margin:30px 0
}
.settings-controls ul {
    list-style:none;
    padding:0;
    margin:0 0 20px 0
}
.settings-controls li {
    display:inline-block;
    font-size:17px;
    text-transform:uppercase;
    color:#666;
    width:23%;
    vertical-align:middle;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.settings-controls select {
    padding:5px;
    border-radius:5px;
    border:solid 1px #999;
    width:180px
}
label.switch-toggle {
    display: block !important;
    height:34px;
    cursor: pointer;
    display: none;
    width:114px
}
label.switch-toggle.on {
    background:url(yesbtn.png);
}
label.switch-toggle.off {
    background:url(nobtn.png);
}
label.switch-toggle.hidden {
    display: none;
}
.switch input[type="checkbox"] {
    display:none
}
/* ASSIGN BOOK POOPUP */
 .assign-popup .modal-header {
    border:none
}
.assign-popup .modal-content {
    border-radius:0;
    background:#000;
    border:none;
}
.assign-popup .modal-body {
    background:#fff;
    margin:0 5px;
    min-height: 328px;
    max-height: 328px;
}
.assign-popup .modal-title {
    font-size:24px;
    color:#fff;
}
.assign-popup .modal-footer {
    background:#555555;
    border:none;
    margin-top:5px;
    text-align:center
}
.modal-backdrop {
    background-color:#999
}
.popup-classroom-list {
    padding:0;
    margin:0;
    overflow: auto;
    height: 300px;
}
.popup-classroom-list li {
    display:block;
    overflow:hidden;
    border-bottom:solid 1px #ddd;
    padding:10px 0;
    margin:0 10px;
    font-size:20px;
}
.popup-classroom-list li label {
    display:block;
    font-weight:normal
}
.popup-classroom-list li input {
    display:block;
    float:right;
    height:22px;
    width:22px
}
.cancel-btn {
    width:200px;
    float:none;
    background:#a0a0a0;
    color:#fff;
    border:solid 1px #8b8f95
}
.dwn-btn {
    width:150px;
    float:none;
    background:#fff;
    color:#333;
    border:solid 1px #78c4e4
}
.ok-btn {
    width:200px;
    float:none;
    background:#a0a0a0;
    color:#fff;
    border:solid 1px #8b8f95
}
/* ASSIGN BOOKS TO CLASSROOM SIDEBAR */
 .assignbook-sidebar {
    min-height:100%;
    background-color:#222b3d;
    width:320px;
    position:absolute;
    overflow:hidden;
    padding:10px;
    top:70px;
    right:-320px;
    z-index:1000;
    display:none
}
.assignbook-sidebar .sidebar-header {
    height:60px;
    padding-top:8px
}
.assignbook-sidebar .sidebar-header .close {
    width:32px;
    height:32px;
    background:url(sidebar-close.png) 0 0 no-repeat;
    display:block;
    float:left;
    opacity:1;
    margin-right:50px
}
.assignbook-sidebar .sidebar-header .update-classroom {
    background:#222b3d;
    box-shadow:#141925 0 0 3px inset;
    display:block;
    float:left;
    padding:8px 20px;
    border-radius:5px;
    color:#fff;
    font-weight:bold
}
.assignbook-sidebar ul {
    list-style:none;
    padding:0;
    margin:0;
    background:#fff;
    position:relative
}
.assignbook-sidebar li {
    overflow:hidden;
    padding:20px 15px;
    border-bottom:solid 1px #ddd
}
.assignbook-sidebar .left-col {
    width:80px;
    float:left;
    margin-right:15px
}
.assignbook-sidebar .left-col img {
    width:80px;
    height:auto
}
.assignbook-sidebar .mid-col {
    width:130px;
    float:left;
    margin-right:15px
}
.assignbook-sidebar .mid-col p:first-child {
    font-weight:bold
}
.assignbook-sidebar .right-col {
    width:30px;
    float:right;
    height:100px
}
.assignbook-sidebar .right-col input {
    margin:50px 0 0 10px
}
/* TOGGLE ON OFF SWITCH */
 .switch {
    position: relative;
    margin: 0 auto;
    height: 26px;
    width: 140px;
    background: url(switch-bg.png);
    0 0 no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 68px;
    line-height: 26px;
    font-size: 11px;
    color:#fff;
    text-align: center;
    cursor: pointer;
}
.switch-label:active {
    font-weight: bold;
}
.switch-label-off {
    padding-left: 2px;
}
.switch-label-on {
    padding-right: 2px;
}
/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
 .switch-input {
    display: none;
}
.switch-input:checked + .switch-label {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 70px;
    /* Note: left: 50% doesn't transition in WebKit */
}
.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 22px;
    background: #5a76d5;
    border-radius: 3px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-big {
    position: relative;
    margin: 0 0;
    height: 26px;
    width: 240px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-big .switch-selection {
    width: 120px;
}
.switch-big .switch-label {
    width:120px
}
.switch-big .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 118px;
    /* Note: left: 50% doesn't transition in WebKit */
}
/* ASSIGN BOOK POOPUP */
 .book-info-popup .modal-header {
    border:none
}
.book-info-popup .modal-footer {
    border:none;
    margin:0px;
    text-align:center;
    padding: 0 19px 20px 20px
}
.book-info-popup .left-panel {
    float:left;
    width:45%
}
.book-info-popup .left-panel .thumb {
    width:93%;
    overflow-x:auto;
    overflow-y:hidden;
    height:70px;
    margin:10px 0 0;
}
.book-info-popup .left-panel .thumb ul {
    list-style:none;
    display:block;
    text-align:center;
    margin:0 auto;
    padding:0;
}
.book-info-popup .left-panel .thumb li {
    width:49px;
    height:60px;
    display:inline-block;
    margin:0 5px;
}
.book-info-popup .left-panel .thumb li img {
    width:50px;
    height:60px;
}
/*Custom Scrollbar */
 .scrollbar {
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 60px;
}
.style-5::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
.style-5::-webkit-scrollbar {
    width: 6px;
    height:6px;
    background-color: #F5F5F5;
}
.style-5::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.book-info-popup .left-panel img {
    width:240px;
    height:auto;
    margin:auto;
    display:block
}
.book-info-popup .left-panel .img {
    width:240px;
    height:auto;
    margin:auto;
    display:block
}
.book-info-popup .right-panel {
    float:right;
    width:50%
}
.book-info-popup .close {
    color:#5a76d5;
    opacity:1;
    font-size:28px
}
.book-info-popup .book-title {
    font-size:22px;
    font-weight:bold;
    margin:0 0 20px;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    overflow:hidden;
}
.book-info-popup .book-author {
    font-size:18px;
    font-weight:bold;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    overflow:hidden;
}
.book-info-popup .reading-level {
    font-size:14px;
    font-weight:bold;
    margin:0
}
.book-info-popup .book-info-container {
    overflow-y:auto;
    overflow-x:hidden;
    margin:15px 0;
}
.book-info-popup .book-info {
    height: 190px;
}
/* TABLE OF CONTENT SLIDING PANEL */
 .table-of-content {
    min-height:90%;
    max-height: 500px;
    background-color:#e8e8e8;
    width:320px;
    position:fixed;
    overflow-x:hidden;
    top:70px;
    left:-350px;
    z-index:999999;
    box-shadow:#b4b6bb 5px 0 20px;
    overflow-y: auto;
}
.table-of-content .sidebar-header {
    font-size:24px;
    color:#fff;
    background:#2e394e;
    padding:10px 30px;
    text-align:center
}
.table-of-content ul {
    padding:0;
    list-style:none
}
.table-of-content li {
    background:url(toi-list-bg.jpg) 0 0 repeat-x;
    padding:15px 30px;
    font-size:20px;
    font-weight:bold;
    cursor: pointer
}
/* LAZY LOADING */
 .library-books li div.loading {
    background: url(loading.gif) no-repeat center center;
    background-size: 32px 32px
}
.loaded {
    background-size:cover;
    background-position:center center;
}
/* USER MESSAGES */
 .message {
    color:#555;
    font-size:16px;
    line-height:35px;
    text-align:center;
    height:70px;
    width:500px;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto
}
/** POPUP LOADER **/
 .popup-loader {
    width:100%;
    min-height:100%;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    background:none;
    z-index:10000;
}
.loader {
    width:105px;
    height: 105px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    background-color:#333;
    padding:10px;
    border-radius:15px;
    color:#fff;
    font-size:14px;
}
.loader img {
    width: 36px;
    height: auto;
    margin-top:12px
}
.book-info-preview {
    height: 300px;
    width: 240px
}
.bookActions .fontresizer {
    position: fixed;
    margin-left: inherit;
}
/* Model Popup Vertical-alignment */
 .modal-dialog {
    width:auto;
    margin: inherit;
    min-height: 100%;
    height: 100%;
    position: relative;
}
.modal-content {
    width:600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 470px;
    position: absolute;
}
.app-button.next.disabled {
    background:url(nxt-btn-disabled.png) 0 0 no-repeat;
    border:none;
    width:106px;
    height:35px;
    line-height:27px;
    text-align:center;
    cursor: default;
    color:#ddd;
}
.app-button.save.disabled {
    display:inline-block;
    background:url(button-patter-disabled.png) 0 0 repeat;
    border:solid 2px #7B95ED;
}
.app-button.next.disabled:hover {
    color:#ddd;
}
#footer {
    background: #5A76D5;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}
.content-scroller {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.student-scroller {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
/*** PAGE FLIP OVERWRITES ***/
 .addNoteBox input {
    width:25%!important
}
.alert-message .modal-content {
    width: 300px;
    height: 210px
}
.alert-message .modal-body {
    height: 120px;
}
.alert-message .alert-delete {
    font-size: 16px;
    font-weight: bold;
    margin: 30px auto 0;
    text-align: center;
}
.alert-message .alert-server {
    font-size: 16px;
    font-weight: bold;
    margin: 15px auto 0;
    text-align: center;
}
.alert-message .alert-saved {
    font-size: 16px;
    font-weight: bold;
    margin: 30px auto 0;
    text-align: center;
}
.alert-message .modal-footer {
    text-align: center;
}
.alert-message button {
    width: 40%;
    display: inline-block;
}
.selectionMenu a:active {
    opacity:0.5;
}
/* Tabs Bootstrap classes overwrites */
 .nav-tabs>li>a {
    border: none;
    background: #DBD8CC
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none
}
/* Responsive Classes */
 @media only screen and (max-device-width: 1280px) and (min-height: 800px) {
    .guestname {
        width: 550px;
    }
    .login input[type="text"], .login input[type="password"], .login select {
        width:90%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:85%;
        padding:12px 10px
    }
    .nav-toggle li a {
        background-image:url(navigation-icon-sprite-big.png);
        background-position:
    }
    .nav-toggle .navigation {
        background-position:10px 8px
    }
    .sidebar-nav li a {
        background-image:url(navigation-icon-sprite-big.png);
        height:90px
    }
    .sidebar-nav .library {
        background-position:10px -60px
    }
    .sidebar-nav .bookstore {
        background-position:10px -265px
    }
    .sidebar-nav .settings {
        background-position:10px -374px
    }
    .sidebar-nav .logout {
        background-position:10px -480px
    }
    .radio-group {
        width: 28%;
    }
    .library-books {
        overflow-y:auto;
        height:630px
    }
    .library-books ul {
        margin:0;
        padding:0;
        margin-left: 0px;
    }
    .library-books li {
        width:235px;
        margin:0 0 80px 60px;
    }
    .library-books li div {
        width:220px;
        height:290px;
    }
    .tab-content .library-books ul {
        padding:5px 0 0;
        margin:0 0 0 18px
    }
    .tab-content .library-books li {
        width:245px;
        margin:0 0 30px 25px;
        height:280px
    }
    .tab-content .library-books li div {
        width:220px;
        height:280px
    }
    .tab-content .classroom-list ul {
        margin:0;
        padding:0
    }
    .tab-content .classroom-list li {
        width:230px;
        margin:0 0 30px 39px;
        height:280px
    }
    .tab-content .classroom-list .classroom-block {
        width:220px;
        height:260px
    }
    .tab-content .students-list li {
        width:330px;
        margin:0 40px 50px 0
    }
    .content-scroller {
        height: 400px;
    }
    .student-scroller {
        height: 380px;
    }
}
@media (max-width:1024px) {
    .guestname {
        width: 450px;
    }
    .library-books {
        overflow-y:auto;
        height:630px
    }
    .library-books ul {
        margin:0;
        padding:0;
        margin-left: 0px;
    }
    .library-books li {
        width:170px;
        margin:0 0 40px 60px;
    }
    .library-books li div {
        width:160px;
        height:210px;
    }
    .table-of-content {
        min-height: 94%;
        max-height: 600px;
    }
    .settings-controls li {
        width:30%
    }
}
@media only screen and (max-device-width: 800px) {
    .guestname {
        width: 340px;
    }
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
    .library-books {
        overflow-y:auto;
        height:1130px
    }
    .library-books ul {
        margin:0;
        padding:0;
        margin-left: -35px;
    }
    .library-books li {
        width:200px;
        margin:0 0 60px 60px;
    }
    .library-books li div {
        width:170px;
        height:220px;
    }
    .tab-content .library-books ul {
        margin:0;
        padding:5px 0 0 0
    }
    .tab-content .library-books li {
        width:190px;
        margin:0 0 30px 25px;
    }
    .tab-content .library-books li div {
        width:176px;
        height:225px
    }
    .tab-content .classroom-list ul {
        margin:0;
        padding:0
    }
    .tab-content .classroom-list li {
        width:190px;
        margin:0 0 30px 25px;
    }
    .tab-content .classroom-list .classroom-block {
        width:176px;
        height:210px
    }
    .tab-content .students-list li {
        width:290px;
        margin:0 40px 50px 0
    }
    .content-scroller {
        height: 880px;
    }
    .student-scroller {
        height: 800px;
    }
    .settings-rightcol {
        padding-left: 40px
    }
    .settings-controls li {
        width:31%;
    }
    .settings-controls li:last-child{
        width: 35%;
    }
    .settings-leftcol {
        width: 30%
    }
    .settings-rightcol {
        width: 70%
    }
    .settings-controls select {
        width: 100%
    }
    .students-list li {
        margin: 0 40px 50px 0
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* NAVIGATION */
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
    .nav-toggle li a {
        background-image:url(navigation-icon-sprite-big.png);
        background-position:
    }
    .nav-toggle .navigation {
        background-position:10px 8px
    }
    .sidebar-nav li a {
        background-image:url(navigation-icon-sprite-big.png);
        height:90px
    }
    .sidebar-nav .library {
        background-position:10px -60px
    }
    .sidebar-nav .bookstore {
        background-position:10px -265px
    }
    .sidebar-nav .settings {
        background-position:10px -374px
    }
    .sidebar-nav .logout {
        background-position:10px -480px
    }
    .library-books ul {
        margin:0;
        padding:0;
        margin-left: -10px
    }
    .library-books li {
        width:205px;
        margin:0 0 70px 60px;
    }
    .library-books li div {
        width:180px;
        height:240px;
    }
    .tab-content .library-books ul {
        padding:5px 0 0;
        margin:0
    }
    .tab-content .library-books li {
        width:180px;
        margin:0 0 30px 25px;
        height:200px
    }
    .tab-content .library-books li div {
        width:160px;
        height:205px
    }
    .tab-content .classroom-list ul {
        margin:0;
        padding:0;
        margin-left:-10px
    }
    .tab-content .classroom-list li {
        width:170px;
        margin:0 0 30px 39px;
        height:200px
    }
    .tab-content .classroom-list .classroom-block {
        width:155px;
        height:190px
    }
    .tab-content .students-list li {
        width:270px;
        margin:0 45px 50px 0
    }
    .settings-controls li {
        width:30%;
    }
    .settings-leftcol {
        width: 30%
    }
    .settings-rightcol {
        width: 70%
    }
    .settings-controls select {
        width: 100%
    }
    .content-scroller {
        height: 500px;
    }
    .student-scroller {
        height: 430px;
    }
    .classroom-list li {
        position: relative;
    }
    .classroom-list .classroom-block {
        margin:5px;
        position: absolute;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .login input[type="text"], .login input[type="password"], .login select {
        width:85%;
        padding:15px 9px;
        height:55px
    }
    .login input[type="submit"] {
        width:80%;
        padding:12px 10px
    }
    .login input[type=submit].reset-password {
        width:80%;
        padding:12px 10px
    }
    .radio-group {
        width: 28%;
    }
    .guestname {
        width: 420px;
    }
    /* NAVIGATION */
    .nav-toggle li a {
        background-image:url(navigation-icon-sprite-big.png);
        background-position:
    }
    .nav-toggle .navigation {
        background-position:10px 8px
    }
    .sidebar-nav li a {
        background-image:url(navigation-icon-sprite-big.png);
        height:90px
    }
    .sidebar-nav .library {
        background-position:10px -60px
    }
    .sidebar-nav .bookstore {
        background-position:10px -265px
    }
    .sidebar-nav .settings {
        background-position:10px -374px
    }
    .sidebar-nav .logout {
        background-position:10px -480px
    }
    .library-books ul {
        margin:0;
        padding:0;
        margin-left: 10px
    }
    .library-books li {
        width:176px;
        margin:0 0 40px 55px;
    }
    .library-books li div {
        width:176px;
        height:240px;
    }
    .tab-content .library-books ul {
        padding:5px 0 0;
        margin:0
    }
    .tab-content .library-books li {
        width:192px;
        margin:0 0 30px 25px;
        height:200px
    }
    .tab-content .library-books li div {
        width:160px;
        height:205px
    }
    .tab-content .classroom-list ul {
        margin:0;
        padding:0;
    }
    .tab-content .classroom-list li {
        width:177px;
        margin:0 0 30px 39px;
        height:200px
    }
    .tab-content .classroom-list .classroom-block {
        width:155px;
        height:190px
    }
    .tab-content .students-list li {
        width:280px;
        margin:0 15px 50px 0
    }
    .classroom-list li {
        position: relative;
    }
    .classroom-list .classroom-block {
        margin:5px;
        position: absolute;
    }
    .content-scroller {
        height: 260px;
    }
    .student-scroller {
        height: 210px;
    }
}
@media (max-width : 768px) {
    .guestname {
        width: 320px;
    }
    .library-books li {
        width:170px
    }
}
.help-block-forget {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    text-align: center;
}


/*
* Custom css added by developers
*/
#triggerRemoveHighlightConfirm {display: none;}
.radio-group-left{float: left;}
.radio-group-right{float: right;}